doctype html
<html$if(lang)$ lang="$lang$"$endif$>
head
  |<title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
  |$for(author-meta)$<meta name="author" content="$author-meta$">$endfor$
  |$if(date-meta)$<meta name="dcterms.date" content="$date-meta$">$endif$
  |$if(highlighting-css)$<style type="text/css">$highlighting-css$</style>$endif$
  |$for(css)$<link rel="stylesheet" href="$css$">$endfor$
  |$if(math)$$math$$endif$
  |$for(header-includes)$$header-includes$$endfor$
  |<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  |<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  link(rel="stylesheet" href="$depth$/look.css")
body
 div(class="navbar navbar-default navbar-fixed-top" role="navigation")
   .container
     .navbar-header
       a.navbar-brand(href="#") $title$
     form.navbar-form.navbar-right(role="form")
      .form-group
        //- input.form-control(type="text")
 .container-fluid(style="margin-top: 3em")
   .row-fluid
     .col-md-2
       |$for(include-before)$$include-before$<hr width="100%"/>$endfor$
       |$if(toc)$<nav id="$idprefix$TOC">$toc$</nav>$endif$</div>
       div(class="row-fluid")
     .col-md-10
       |$body$
script(src="$depth$/behave.js")
| <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">script></script>
</html>
//- vim: sw=2
